/* BODY */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px; 
  margin: 0;
}

h1{
  font-size: 2em;
}

h2{
  font-size: 1.8em;
  padding: 30px;
}

button{
  color: white;
  background-color: teal;
  border: 1px solid rgb(1, 116, 116);
  border-radius: 10px;
  padding: 10px;
  width: 350px;
  margin-top: 10px;
  text-transform: uppercase;
}

button:hover{
  color: teal;
  background-color: white;
}

/* nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: teal;
  height: 60px;
  padding: 0px 30px;
  z-index: 2;
  position: fixed;
  width: 100%;
}

nav div{
  display: flex;
  align-items: center;
}


nav ul{
  display: flex;
}
nav li{
  display: inline-block;
  padding-left: 20px;
}

nav a{
  text-decoration: none;
  color: white;
}

nav div:last-child{
  position: relative;
  right: 60px;
}

nav div:last-child a{
  padding: 0px 10px;
}

/* MAIN */
main{
  position: relative;
  top: 60px;
  padding: 20px 30px;
}

main h1{
  padding-bottom: 10px;
}

section{
  height: calc(100vh - 60px);
  width: 100%;
  border-bottom: rgb(1, 116, 116) 1px dotted ;
  text-align: center;
  position: relative;
}


section > div > i{
  font-size: 7em;
}

.bloc{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* section accueil */
#accueil{
  text-align: center;
}

#accueil img{
  height: calc(100vh - 60px);
  width: 100%;
  object-fit: contain;
  object-position: center;
}

#accueil div{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(1, 116, 116);
}

#question{
  margin-top: 12px;
}

/* section benevole */
#benevole{
  background-color: rgb(29, 160, 153);
}
  
#benevole div{
  background-color: white;
  border: 1px solid rgb(1, 116, 116);
  border-radius: 10px;
  padding: 40px;
}

/* section asso */
#asso div{
  background-color: lightslategray;
  border: 1px solid rgb(1, 116, 116);
  border-radius: 10px;
  padding: 40px;
  color: white;
}

#asso button{
  color: teal;
  background-color: white;
}

#asso button:hover{
  color: white;
  background-color: teal;
  border-color: white;
}

/* section à propos */
#about{
  background-color: rgb(29, 160, 153);
  padding-top: 20px;
}

#about div{
  margin: 0px 10%;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 10px;
  width: 80%;
}

#about > div > p{
  padding: 0px 10%;
}


#about div div{
  display: flex;
}

#about h3{
  margin-bottom: 20px;
}

#about div div div{
  flex: 1;
  padding-left: 10px;
  height: calc(50vh);
}

#about div div div img{
  height: 100%;
  width: auto;
}

#about div p{
  text-align: left;
  margin: 10px 0px;
  flex: 2;
  margin-bottom: 20px;
  
}

/* Contact */
#contact{
  border: 1px solid rgb(1, 116, 116);
  border-radius: 10px;
  padding: 40px;
  margin: 0px 20%;
}

#contact table{
  width: 100%;
}

#contact table .label{
  text-align: right;
  padding-right: 10px;
  vertical-align: top;
  width: 30%;
  padding-bottom: 10px;

}

#contact table .input{
  text-align: left;
  width: 70%;
  padding-bottom: 10px;

}

#contact textarea{
  width: 80%;
  height: 20vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

#contact input{
  width: 80%;
}

#contact p{
  margin-top: 20px;
}

#contact button{
  width: 150px;
}

